<div class="main-content ">
    <h1 class="text-center">{{nameUser}} </h1>

    <hr>


    <button type="button" class="m-4 btn btn-success d-flex justify-content-start" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="onAdd()">
        Agregar&nbsp;<i class="lni lni-circle-plus"></i>
    </button>

    <table mat-table [dataSource]="entidades" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let entidad"> {{ entidad.codigo }} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let entidad"> {{ entidad.descripcion }} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
            <td mat-cell *matCellDef="let entidad"> {{ entidad.direccion }} </td>
        </ng-container>

        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
            <td mat-cell *matCellDef="let entidad"> {{ entidad.identificacion }} </td>
        </ng-container>

        <ng-container matColumnDef="nombreMoneda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Moneda </th>
            <td mat-cell *matCellDef="let entidad"> {{ entidad.nombreMoneda }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let entidad">
                <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="onEdit(entidad)"><i class="lni lni-pencil"></i></button>
                <button class="btn btn-danger" (click)="onDelete(entidad.codigo)">
                    <i class="lni lni-trash-can"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons></mat-paginator>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ isEdit ? 'Editar Entidad' : 'Agregar Entidad' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" (ngSubmit)="onSave()">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <input type="text" id="name" class="form-control" formControlName="name"
                                    [class.is-invalid]="myForm.get('name')?.invalid && myForm.get('name')?.touched" />
                                <div class="invalid-feedback"
                                    *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
                                    El nombre es obligatorio.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" id="direccion" class="form-control" formControlName="direccion"
                                    [class.is-invalid]="myForm.get('direccion')?.invalid && myForm.get('direccion')?.touched" />
                                <div class="invalid-feedback"
                                    *ngIf="myForm.get('direccion')?.invalid && myForm.get('direccion')?.touched">
                                    La dirección es obligatoria y no puede exceder 250 caracteres.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="moneda" class="form-label">Moneda</label>
                                <select id="moneda" class="form-control" formControlName="monedaId"
                                    [class.is-invalid]="myForm.get('monedaId')?.invalid && myForm.get('monedaId')?.touched">
                                    <option value="" disabled>Seleccione una moneda</option>
                                    <option *ngFor="let moneda of monedas" [value]="moneda.idMoneda">{{
                                        moneda.nombreMoneda }}</option>
                                </select>
                                <div class="invalid-feedback"
                                    *ngIf="myForm.get('monedaId')?.invalid && myForm.get('monedaId')?.touched">
                                    Debe seleccionar una moneda.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea id="description" class="form-control" formControlName="description"
                                    [class.is-invalid]="myForm.get('description')?.invalid && myForm.get('description')?.touched"></textarea>
                                <div class="invalid-feedback"
                                    *ngIf="myForm.get('description')?.invalid && myForm.get('description')?.touched">
                                    La descripción es obligatoria y no puede exceder 250 caracteres.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="identificacion" class="form-label">Identificación</label>
                                <input type="text" id="identificacion" class="form-control"
                                    formControlName="identificacion"
                                    [class.is-invalid]="myForm.get('identificacion')?.invalid && myForm.get('identificacion')?.touched" />
                                <div class="invalid-feedback"
                                    *ngIf="myForm.get('identificacion')?.invalid && myForm.get('identificacion')?.touched">
                                    La identificación es obligatoria y no puede exceder 50 caracteres.
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">{{ isEdit ?
                            'Actualizar' : 'Guardar' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>